.button {
  --size: 48px;
  --padding: var(--size-16);
  --text-color: black;
  --background-color: grey;
  --border-color: transparent;
  --outline-color: black;
  --hover-color: transparent;
  --pressed-color: transparent;

  padding-inline: var(--padding);
  width: 100%;
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-8);
  text-align: center;
  font-size: var(--size-16);
  font-weight: 500;
  line-height: 1.1;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: var(--radius-sm);

  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-color);
}

.button:active {
  background-color: var(--pressed-color);
}

.button:focus-visible {
  outline: 2px solid var(--outline-color);
}

.positive {
  --color-900: rgba(64, 7, 153, 1);
  --color-800: rgba(85, 9, 204, 1);
  --color-700: rgba(106, 11, 255, 1);
  --color-400: rgba(195, 157, 255, 1);
  --color-200: rgba(225, 206, 255, 1);
  --color-100: rgba(240, 231, 255, 1);
  --color-50: rgba(253, 244, 255, 1);
}

.negative {
  --color-900: rgba(175, 9, 50, 1);
  --color-800: rgba(213, 11, 62, 1);
  --color-700: rgba(243, 22, 78, 1);
  --color-400: rgba(249, 139, 166, 1);
  --color-200: rgba(251, 177, 196, 1);
  --color-100: rgba(253, 216, 225, 1);
  --color-50: rgba(255, 236, 245, 1);
}

.primary {
  --text-color: #fff;
  --background-color: var(--color-700);
  --outline-color: var(--color-900);
  --hover-color: var(--color-800);
  --pressed-color: var(--color-900);
}

.secondary {
  --text-color: var(--color-700);
  --background-color: var(--color-100);
  --outline-color: var(--color-700);
  --hover-color: var(--color-200);
  --pressed-color: var(--color-400);
}

.tertiary {
  --text-color: var(--color-700);
  --background-color: transparent;
  --outline-color: var(--color-700);
  --hover-color: var(--color-50);
  --pressed-color: var(--color-100);
}

.outline {
  --text-color: var(--color-700);
  --background-color: transparent;
  --border-color: var(--color-700);
  --outline-color: var(--color-700);
  --hover-color: var(--color-50);
  --pressed-color: var(--color-100);
}

.link {
  --text-color: var(--color-700);
  --background-color: transparent;
  --hover-color: transparent;
  --pressed-color: transparent;

  padding: 0;
  width: auto;
  height: auto;
  outline: none;
}

.link:hover {
  text-decoration: underline;
}

.icon {
  flex: none;
  color: inherit;
  height: var(--size-16);
}
