.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-white);
  height: 64px;
  padding: 0 24px;
}

.auth {
  display: flex;
  align-items: center;
  gap: var(--size-24);
}
